.hero {
  width: 100%;
  z-index: 10;
  position: relative;
}

.videoPlay {
background-color: #dde8f2aa;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 50%;
    margin: 0 auto;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 650px;
    margin-left: -25px;
    border-radius: 75px;
    z-index:10;
    font-size:9px;
}
.videoPlay:hover {
  background-color: #adb6beaa;
}

.heroContent {
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem auto 13rem;
  text-align: center;
}

.heroContent h1 {
  font-size: 4.5rem;
  color: var(--black);
}

.heroContent h2 {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 400;
  margin: 3.5rem 0;
}

/* Info Grid */

.infoGridContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}

.infoGridContent main {
  width: 100%;
  padding: 2rem 2.4rem;
  /*border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #FFFFFF;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

.infoGridContent main img {
  width: 10rem;
}

.infoGridContent main h1 {
  font-size: 3.25rem;
  font-weight: 700;
  margin: 3.5rem 0 0 0;
  color: #5C0FC5;
}

.infoGridContent main h2 {
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
}

/* How It Works Section */

.howItWorks {
 /* background-color: rgba(255, 255, 255, 0.15); */
}

.howItWorksGrid {
max-width: 107rem;
  margin: auto;
}

.howItWorksGrid p {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  color: #262626;
margin-bottom: 2rem;
}
.howItWorksGrid p:last-child {
margin-bottom: 0;
}
.headTxt{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    color: #262626;
  margin-bottom: 1.2rem;
}
.howItWorksContent video {
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  height: 85vh;
  margin: 5rem 0 0 0;
}
.donations{
margin: 1.6rem auto 10rem;
  display: flex;
  max-width: 100%;
}
/* Why */

.why {
  width: 100%;
}

.faqBox {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--black);
  width: 100%;
}
.faqBox:last-child {
border: none;
}
.faqQ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  transition: 0.5s;
  cursor: pointer;
}

.faqQ h6 {
  font-size: 2.25rem;
  font-weight: 600;
  width: 95%;
}

.faqQ svg {
  font-size: 2.5rem;
  transition: 0.35s;
}

.faqQ:hover {
  color: var(--light-purple);
}

.faA {
  width: 100%;
  font-size: 1.65rem;
  font-weight: 400;
  margin: 1.5rem 0 0 0;
  color: var(--black);
}

.whyContent {
  margin: 0 0 5rem 0;
  padding: 0 11.5rem;
}
.whyContent > p{
  text-align: center;
  margin: 1.2rem 0 1.6rem;
}
.whyContent div{
  display: flex;
  justify-content: space-between;
}
.whyContent ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
}
.whyContent ul li{
margin-bottom: 1.6rem;
width: 48%;

}
 .txt{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #262626;

}
.charitiesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5rem;
}

.charitiesGridCell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.charitiesGridCell main {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(172, 82, 242, 0.25);
}

.charitiesGridCell h6 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin: 2.5rem 0 0.5rem 0;
}

.charitiesGridCell p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black);
}

.loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5rem 0 0 0;
}

/* Roadmap */

.roadmap-content {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.road-map-line {
  width: 0.25rem;
  height: 100%;
  background: var(--dark-purple);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.roadmap-box-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.roadmap-box-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5rem 0;
}

.roadmap-box-content {
  width: 50%;
  display: flex;
  align-items: center;
}

.roadmap-text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--grd);
  padding: 2.5rem;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.8rem;
}

.roadmap-text-box p {
  margin: 0.65rem 0;
}

.roadmap-text-box h6 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
}

.roadmap-circle {
  min-width: 6.5rem;
  min-height: 6.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grd);
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 600;
  position: relative;
  z-index: 100;
}

.roadmap-box-left .roadmap-circle {
  transform: translate(3.25rem, 0);
}

.roadmap-box-right .roadmap-circle {
  transform: translate(-3.25rem, 0);
}

/* Footer */

.footer {
  width: 100%;
  z-index: 10;
  position: relative;
   background-color: #E5E5E5;
}

.footerContent {
  width: 100%;
  margin: 2.5rem 0 0 0;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLeft {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
list-style: none;
}
.footerLeft li{
  border-left: 1px solid #262626 ;
  margin: 0 0 0 1.5rem;
  padding: 0 0 0 1.5rem;

}
.footerRight {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footerLeft a {
  font-size: 1.5rem;
  color: var(--black);
}

.footer a:hover {
  color: var(--light-purple);
}

.footerRight a {
  font-size: 2rem;
  color: var(--black);
  margin: 0 0 0 2rem;
  display: flex;
}

.map {
  width: 100%;
  object-fit: contain;
  margin: 5rem 0 0 0;
}

@media screen and (max-width: 1200px) {
  .infoGridContent {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem 7.5rem;
  }
  .infoGridContent main {
    padding: 2.5rem 0;
    border-top: 0;
    border-bottom: 1px solid var(--black);
  }
  .charitiesGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5rem;
  }
  .faqBox {
    width: 100%;
    padding: 1rem 0;
  }
  .infoGridContent main img {
    width: 10rem;
  }
  .infoGridContent main h1 {
    font-size: 3rem;
    margin: 2.5rem 0 0 0;
  }
  .howItWorksGrid main {
    font-size: 1.65rem;
  }
  .howItWorksContent video {
    height: 65vh;
  }
  .faqQ h6 {
    font-size: 2rem;
  }
  .faA {
    margin: 1rem 0 0 0;
  }

  .footerContent {
    margin: 2.5rem 0 0 0;
    padding: 1.5rem 0;
    border-top: 0px solid var(--black);
  }
  .footer{
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .infoGridContent {
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
  }
  .howItWorksGrid {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }
  .howItWorksContent video {
    height: unset;
    margin: 2.5rem 0 0 0;
  }
  .charitiesGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3.5rem;
    margin: 3.5rem 0;
  }
  .footerContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2.5rem;
  }
  .footerLeft {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerRight {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerLeft a {
    margin: 0 0 1.5rem 0;
  }
  .footerRight a {
    margin: 0 0 1.5rem 0;
  }
.heroContent{
  margin: 5rem auto
}
  .heroContent h1 {
    font-size: 3.25rem;
  }
  .heroContent button {
    padding: 1rem 2.75rem;
    font-size: 1.5rem;
  }
  .infoGridContent main h1 {
    font-size: 2.5rem;
  }
  .infoGridContent main h2 {
    font-size: 1.75rem;
  }
  .infoGridContent main {
    border-top: 0;
    border-bottom: 0;
    padding: 2rem;
  }
  .howItWorksGrid main {
    font-size: 1.5rem;
  }
  .faqQ h6 {
    font-size: 1.75rem;
  }
  .faA {
    font-size: 1.5rem;
  }
  .howItWorks {
   /* background-color: rgba(255, 255, 255, 0.5); */
  }
  .whyContent{
    padding: 0 3rem
  }
}

@media screen and (max-width: 768px) {

}